<button class="btn btn-primary button" type="button" data-action="load-more-btn">
    <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true"></span>
    <span class="label">Показать Еще</span>
</button>