<form class="search-form" id="search-form">
    <label for="searchQuery" class="sr-only">What search?</label>
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." id="searchQuery" />
    <button class="btn btn-primary button" type="submit" data-action="search-btn">
        <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true"></span>
        <span class="label"></span>
    </button>
</form>